body{
  margin: 0;
  padding: 0;
  font-family: verdana;
  background: #001646;
}

.bottone{
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #ffffff;
  padding: 14px 40px;
  outline: none;
  color: rgb(255, 255, 255);
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #00000061;
  text-align: center;
  border-radius: 24px;
}
.box h2{
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.box input[type = "submit"]{
  font-size: 15px;
  font-weight: bold;
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  margin-left: 15px;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: rgb(255, 255, 255);
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  display: inline;
}
.box input[type = "submit"]:hover{
  background: #2ecc71;
}

.box input[type = "file"]{
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  outline: none;
  color: rgb(255, 255, 255);
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  padding-top:10px;
  padding-bottom: 10px;
  display: none;
}
.box [class = "bottone"]:hover{
  background: #ffffff;
  color: black;
}

.box input[type = "reset"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  margin-right: 15px;
  text-align: center;
  border: 2px solid #ff7300;
  padding: 14px 20px;
  outline: none;
  color: rgb(255, 255, 255);
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  display: inline;
}
.box input[type = "reset"]:hover{
  background: #ff7300;
}

.image-preview {
  width: 300px;
  min-height: 100px;
  border: 2px solid #ffffff;
  margin-top: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.image-preview__image {
  display: none;
  width: 100%;
}

.box input[type = "button"]{
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  outline: none;
  color: rgb(255, 255, 255);
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  padding-top:10px;
  padding-bottom: 10px;
  display: none;
}  

.home-bottone{
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #ffffff;
  padding: 14px 40px;
  outline: none;
  color: rgb(255, 255, 255);
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box [class = "home-bottone"]:hover{
  background: #48adff;
  color: rgb(255, 255, 255);
  border: 2px solid #48adff;
  font-weight: 1000;
}